h1 {
    border: green 10px solid;
   
    border-radius: 20px;
    outline-style: dashed;
    outline-width: 10px;
    outline-color: blue;
    outline-offset: 10px;
    }
/* p{
    border-style: solid;
}

div{
    border-style: dotted;
}

span{
    border-style: dashed;
} */
 /* *{
    border-style: solid;
 } */

